<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>menu_usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">menu_usuario</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="height: 60px"></div>

  <ion-button expand="block" (click)="ir_Tab2()" >Acceso a datos de la API pública</ion-button>
  <ion-button expand="block" (click)="ir_Tab3()" > Acceso a datos de Firebase </ion-button>
  <ion-button expand="block"> Acceso al juego </ion-button>
  

</ion-content>
