<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    @for (dato of datos; track dato.id) 
      { <ion-item (click)="RecogerItem(dato)"> 
          <ion-label>{{ dato.title }}</ion-label> 
          <ion-checkbox
            slot = "end"
            disabled="true"
            [checked] = 'dato.completed'>
          </ion-checkbox>
        </ion-item> }
  </ion-list>
  
</ion-content>
