.card-verde {
  --background: #bae9bc; 
  //color: white;
  margin: 10;       
  width: 100%;     
  border-radius: 10;
}
.card-rojo {
  --background: #fac4c0;
  //color: white;
  margin: 10;       
  width: 100%;     
  border-radius: 10;
}
.Crear-Tarea {
  --background: #98f398;
  //color: white;
  margin: 20;       
  width: 100%;     
  border-radius: 10;
}
.Input-Tarea {
  --background: #98c7f3;
  //color: white;
  margin: 0;       
  width: 100%;     
  border-radius: 0;
}
.Input-fijo {
  position: sticky;
  top: 0;
  z-index: 10;
  background: white;   // importante para que no se vea transparente
}